@{
    ViewData["Title"] = "Successfully Archived";
}

<div class="text-center">
    <h1 class="display-4">Archive Completed Successfully.</h1>
    <p>You can @Html.ActionLink("Return to the list", "Index").</p>
</div>