# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

pr: 
- master

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'konmaripocontainerregistry'
  imageRepository: 'konmaripoweb'
  containerRegistry: 'konmaripocontainerregistry.azurecr.io'
  buildContextLocation: 'src/Konmaripo.Web'
  dockerfilePath: 'src/Konmaripo.Web/Konmaripo.Web/Dockerfile'
  tag: '$(Build.BuildId)'
  #tag: 'release'
  
  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: $(dockerfilePath)
        repository: $(imageRepository)
        containerRegistry: $(dockerRegistryServiceConnection)
        buildContext: "$(buildContextLocation)"
        tags: |
          $(tag)
          $(imageRepository)
    - task: Docker@2
      displayName: Push an image to container registry
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageRepository)
        command: push
        tags: |
          $(tag)