@model Konmaripo.Web.Controllers.MassIssueViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Mass Issue Creation</h1>
    <p>Create an issue that will be posted in all of your organization's repositories.</p>
</div>

<div>
    <h1 class="display-4">Issue Contents</h1>
    @using (Html.BeginForm("CreateMassIssue", "MassIssues", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            Select a file <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </fieldset>
    }
</div>

