@using Humanizer
@{
    ViewData["Title"] = "Issue Posting Completed";
}

<div class="text-center">
    <h1 class="display-4">Mass Issue Posting Complete.</h1>
    <p>You can @Html.ActionLink("Return to the list", "Index").</p>
</div>