@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Konmaripo!</h1>
    <p>A tool to enable easier GitHub repo and organization management.</p>
</div>