@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Konmaripo!</h1>
    <p>A tool to enable easier GitHub repo and organization management.</p>
    <p>Currently, this tool enables you to @Html.ActionLink("sunset and archive repositories", "Index", "Sunsetting").</p>
</div>
