@model Konmaripo.Web.Controllers.OrgWideVisibilityIndexVM
@{
    ViewData["Title"] = "Org-Wide Visibility";
}

<div class="text-center">
    <h1 class="display-4">Org-Wide Visibility</h1>
    <p>Ensuring all organization members can see all private repositories.</p>
</div>

<div class="text-center">
    <h2>Step 1: Org-wide team</h2>
</div>

@if (Model.TeamExists)
{
<div class="alert alert-success">
    <h4 class="alert-heading">Org-Wide Team exists in the org.</h4>
    <p>In this app's configuration, the <strong>@Model.OrgWideTeamName</strong> team is defined as the team that holds all the org's members.</p>
    <p>The team exists; so far, so good!</p>
    @Html.ActionLink($"Next step: Add org members to team", "AddOrgMembers", "OrgWideVisibility", null, new { @class = "btn btn-success", role = "button" })
</div>
}
else
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Warning: Team does not exist!</h4>
        <p>In this app's configuration, the <strong>@Model.OrgWideTeamName</strong> team is defined as the team that holds all the org's members.</p>
        <p><strong>However, this team does not exist.</strong></p>

        @Html.ActionLink($"Create '{Model.OrgWideTeamName}' team in the GitHub org", "CreateOrgWideTeam", "OrgWideVisibility", null,new { @class = "btn btn-success", role = "button" })
    </div>
}
